body{
    background-color:rgba(20, 59, 6, 0.768) ;
font-family: 'Times New Roman', Times, serif;
color: black;
}
header{
text-align: center;
color: rgba(202, 212, 241, 0.887);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section{

margin: auto;
background-color: white;
border-radius: 10px;
padding: 15px;
max-width: 500px;
border: 2px solid black;
box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.371);
color: black;
}

div{
   
    text-align: center;
    padding: 10px;
    
}
#foto{
    margin-top: 10px;
    width: 250px;  
    height: 250px;
    border-radius: 60%;
}



